body {
  font-family:'Dosis', sans-serif;
  display: flex;
  flex-direction: column;
  background-color:#95d5f9;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  padding-bottom: 20px;
}

#nav-bar a {
  padding-left: 1em;
}

#nav-bar {
  font-size: 25px;
  display: block;
  
}

#title {
  font-size: 30px;
  display: block;
}

#form {
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
  display: block;
}

p {
  font-size: 20px;
}

.thumbnail {
  max-height: 200px; 
  padding: 20px;
}

.pricebox {
  border-radius: 2px;
  background-color: #e3edf2;
  flex-grow: 1;
  margin: 5px;
  text-align: center;

  
}

#prices {
  display: flex;
  flex-direction: horizontal;
  height: 200px;
}
  
  #priceboxtitle {
    
    font-size: 20px;
    align-items: center;
    justify-content: center;
    
  }
#logo {
    border-radius: 50%;
    height: 40px;
}

button {
  display: block;
  margin: auto;
  background-color:#95d5f9;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  font-size: 100%;

}

#top {
  display: flex;
  flex-direction: horizontal;
}
input[type="submit"] {
    background-color:#e3edf2;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  font-size: 100%;

}

#wedding-video {
  height: 350px;
}

#video {
  display: block;
  height: 100%;
  text-align: center;
}

#gallery {
  display: block;
  text-align: center;
}